
<button class="addBtn">Add Vehicle</button>
<app-table *ngIf="isVehicleDataReady" [tableData]="vehicleData" [tableColumns]="testTableColumns" (btnClicked)="tableBtnClicked($event)"></app-table>


<app-modal [modalConfig]="modalOptions" [toggleModalVisibility]="showNavigationConfirmBox" >
    <ng-container class="modal-header">
       <h4>Confirm Navigation</h4>
    </ng-container>
    <ng-container class="modal-body-content">
       Are you sure you want to cancel the changes made?
    </ng-container>
    <ng-container class="modal-footer-content">
        <button class="saveBtn btn primary-btn pull-right" (click)="confirmAction()">Yes</button>
        <button class="btn cancel-btn pull-right" (click)="discardAction()">No</button>
    </ng-container>
</app-modal>
