


.nav_container {
    width: 220px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #fff;
    padding-top: 50px;
    ul {
        border-top: 1px solid rgba(0, 0, 0, 0.0625);
        margin: 0;
        padding-top: 30px;
        padding-left: 0;
        // border-right: 1px solid rgba(0, 0, 0, 0.0625);
        li {
            display: block;
            font-size: 17px;
            font-weight: 500;
            
            color: #72777a;
            transition: all .3s ease;
            &:hover {
                cursor: pointer;
                background-color: #f3f3f3;
            }
            &:hover a{
                color: #313435;
            }
            a {
                text-decoration: none;
                transition: all .3s ease;
                color: #72777a;
                display: block;
                font-size: 15px;
                padding: 12px 25px;
            }
            .nav_icon {
                margin-right: 15px;
            }

            .dashboard {
                color: #0f9aee;
            }

            .locations {
                color: #ff9800;
            }

            .vehicles {
                color: #0f9aee;
            }

            .bookings {
                color: #ff5722;
            }

            .admin {
                color: #9c27b0;
            }
        }
    }
}

.activeRouter {
    background-color: #f3f3f3;
}
