<div class="nav_container">
    <ul>
        <li> 
            
            <a routerLink="/dashboard" routerLinkActive="activeRouter"> 
                <i class="fas fa-home nav_icon dashboard"></i>
                Dashboard 
            </a>
        </li>
        <li> 
            
            <a routerLink="/locations" routerLinkActive="activeRouter"> 
                <i class="fas fa-location-arrow nav_icon locations"></i>
                Manage Location
            </a> 
        </li>
        <li> 
            
            <a routerLink="/vehicles" routerLinkActive="activeRouter"> 
                <i class="fas fa-car-alt nav_icon vehicles"></i>
                Manage Vehicle
            </a> 
        </li>
        <li> 
            
            <a routerLink="/bookings" routerLinkActive="activeRouter"> 
                <i class="fas fa-book-open nav_icon bookings"></i>
                Booking
            </a>
        </li>
        <li> 
            
            <a routerLink="/admin"> 
                <i class="fas fa-user-cog nav_icon admin"></i>
                Admin
            </a>
        </li>
    </ul>
</div>