<div class="nav_container">
    <ul>
        <li> 
            <i class="fas fa-home nav_icon dashboard"></i>
            <a routerLink="/dashboard" routerLinkActive="activeRouter"> Dashboard </a>
        </li>
        <li> 
            <i class="fas fa-location-arrow nav_icon locations"></i>
            <a routerLink="/locations" routerLinkActive="activeRouter"> Manage Location</a> 
        </li>
        <li> 
            <i class="fas fa-car-alt nav_icon vehicles"></i>
            <a routerLink="/vehicles" routerLinkActive="activeRouter"> Manage Vehicle</a> 
        </li>
        <li> 
            <i class="fas fa-book-open nav_icon bookings"></i>
            <a routerLink="/bookings" routerLinkActive="activeRouter"> Booking</a>
        </li>
        <li> 
            <i class="fas fa-user-cog nav_icon admin"></i>
            <a routerLink="/admin"> Admin</a>
        </li>
    </ul>
</div>