table {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
    width: 99%;
    margin: 10px 0.375rem;
    font-size: 14px;
    display: block;
    overflow-x: scroll;
    background-color: #fff;

    thead {
        tr  {
            border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
        }
    }

    td, th {
        padding: 4px 15px;
    }

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
        color: #72777a;
    }
}